# Fichiers temporaires
*~

# Fichiers OSX inutiles
**/*.DS_Store

# Fichiers de sauvegarde OSX
**/._*

# Dossier de compilation
build/

# Git merge files
*.orig
*_BACKUP_*
*_REMOTE_*
*_LOCAL_*
*_BASE_*
